html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    font-weight: 300;
    color: #333;
    box-sizing: border-box;
    font-family: Inter, system-ui, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    overflow: hidden;
}
.wrapper {
    border: 0;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    padding: 3rem 1.5rem;
    border: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}
.brand {
    max-width: 480px;
}
p {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}
form {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
input[type="email"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    margin-right: 0.5rem;
    width: 250px;
}
button[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

nav {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
ul {
    padding: 0;
    margin: 1.5rem 0 0 0;
}
ul li {
    list-style: none;
    display: inline;
    margin: 0 10px;
}
ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
}
span.label {
    display: none;
}
footer {
    border: 0;
    height: 64px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}